$primary-color: #74b9ff;

$food: #DEEDC8;
$conference-room: #F9D19C; 
$services: #B2E2F6;
$office: #F69FAE;

$font-small: .4rem;
.App {
  padding: 1rem;
}

main {
  display: flex;
  flex-direction: column;
  section {
    border-left: 0.2rem solid lightgray;
    flex: 0.3;
    text-align: center;
    ul {
		columns: 3;
      height: 20vh;
      overflow-y: scroll;
    }
  }
  svg {
    width: 100%;
    min-height: 100%;
  }
}

@mixin setBGColorAndHover ($baseColor){
    fill: darken($color: $baseColor, $amount: 15);
}
.st0{fill:none;}
	.st1{font-family:'ArialMT';}
	.st2{font-size:10.4064px;}
	.st3{fill:#EDEDED;}
	.st4{font-size:20.7004px;}

	.office{
		fill:$office;
		transition: all .2s ease-out;
		+ .active {
			@include setBGColorAndHover($office);
		}
	} //st5
	.service{
		fill:$services;
		transition: all .2s ease-out; 
		+ .active {
			@include setBGColorAndHover($services);
		}
	} //st6
	.conference-room{
		fill:$conference-room; 
		transition: all .2s ease-out; 
		+ .active {
			@include setBGColorAndHover($conference-room);
		}} 
	.food{
		fill:$food;
		transition: all .2s ease-out; 
		+ .active {
			@include setBGColorAndHover($food);
		}
	}

	.st9{fill:none;stroke:#000000;stroke-width:3.1072;stroke-miterlimit:10;}
	.st10{fill:none;stroke:#000000;stroke-miterlimit:10;}
	.st11{stroke:#000000;stroke-width:0.5;}
	.st12{fill:#D27328;}
	.st13{font-size:12px;}
	.st14{font-size:$font-small}
	.st15{font-size:$font-small;}
	.st16{font-size:$font-small;}
	.st17{font-size:$font-small;}
	.st18{font-size:$font-small;}
	.st19{font-size:$font-small;}
	.st20{font-size:$font-small;}
	.st21{font-size:$font-small;}
	.st22{font-size:$font-small;}
	.st23{font-size:$font-small;}
	.st24{font-size:15.3158px;}
	.st25{font-size:$font-small;}
	.st26{font-size:$font-small;}
	.st27{font-size:$font-small;}
	.st28{font-size:$font-small;}
	.st29{font-size:$font-small;}
	.st30{font-family:'Arial-BoldMT';}
	.st31{font-size:$font-small;}
	.st32{font-size:8.5144px;}
	.st33{fill:#E28229;}
	.st34{font-size:5.4085px;}
	.st35{fill:none;stroke:#B22029;stroke-width:0.5;stroke-miterlimit:10;}
	.st36{font-size:44.4361px;}
	.st37{font-size:107.3329px;}
	.st38{fill:none;stroke:#070707;}
	.st39{font-size:21.3806px;}
	.st40{fill:#141414;}
	.st41{font-size:12.6501px;}
	.st42{fill:#070707;}
	.st43{display:none;}
	.st44{display:inline;}
	.st45{fill:#C52D27;}
	.st46{display:inline;fill:#FFFFFF;}
	.st47{font-size:2.9025px;}
	.st48{font-size:4.5957px;}
	.st49{font-size:3.7654px;}
	.st50{font-size:5.9619px;}
.state {
  stroke: grey;
  stroke-width: 0.05rem;
  fill: whitesmoke;
  transition: all 0.2s ease-out;
}
.room-list {
  list-style: none;
  button {
    width: 100%;
    padding: 0.9rem;
    border: 0px;
    border-bottom: 2px solid darken($color: $primary-color, $amount: 10);
    font-size: 1.2rem;
    text-align: left;
    background-color: $primary-color;
    color: white;
    cursor: pointer;
    transition: all .2s ease-out;
    &:hover {
      background-color: darken($color: $primary-color, $amount: 4)
    }
  }
}

